<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Bán USDT cho đại lý SA98</h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            3. Chọn ngân hàng nhận tiền
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12">
                                <div class="select-bank bg-white rounded " style="">

                                    <div class="form-group">
                                        <label for="" class="font-weight-500 d-block">
                                            Ngân hàng của bạn
                                        </label>
                                        <div class="dropdown bootstrap-select form-control none">
                                            <select class="form-control selectpickernone" tabindex="-98">
                                                <option value="Techcombank">Techcombank</option>
                                                <option value="Vietcombank">Vietcombank</option>
                                                <option value="Vietinbank">Vietinbank</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="font-weight-500 d-block">
                                            Số tài khoản
                                        </label>
                                        <div class="find-box">
                                            <input type="text" class="form-control" placeholder="Nhập số tài khoản...">
                                            <div class="spinner-border text-secondary spinner-border-sm" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label for="" class="font-weight-500 d-block">
                                            Tên chủ tài khoản
                                        </label>
                                        <input class="form-control" type="text" readonly="readonly">
                                        <small class="form-text text-muted">Lấy tự động theo số tài khoản bên trên</small>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                             Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </button>-->
                        <a href="/transaction/sell?step=2" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="/transaction/sell?step=4" class="btn btn-primary float-right" data-toggle="modal" data-target="#MdlSell">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>

                        <!-- Popup Buy -->
                        <div class="modal fade" id="MdlSell" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận bán USDT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <div class="col-12 mb-2">
                                                <span class="font-weight-500">Số lượng bán:</span>
                                                <span class="font-weight-bold text-primary">2,345 USDT</span>
                                            </div>
                                            <div class="col-12 fs-075 text-secondary mb-4">
                                                <span class="ml-1 mr-1">
                                                    Giá bán: <span class="font-weight-bold">23,150 VND</span>
                                                </span>
                                                <span class="ml-1 mr-1">
                                                    Phí: <span class="font-weight-bold text-warning">230,384 VND</span>
                                                </span>
                                            </div>
                                            <div class="text-center fs-110 font-weight-bold mb-4">
                                                Số tiền bạn nhận: <span class="font-weight-bold text-success">48,315,000 VND</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="las la-times-circle"></i>
                                            Bỏ qua
                                        </button>
                                        <!--<button type="button" class="btn btn-primary">
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </button>-->
                                        <a href="/transaction/sell?step=4" type="button" class="btn btn-primary">
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
