<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Bán Coin cho đại lý SA98</h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>5</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            1. Chọn Coin cần bán
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col pb-1">
                        <div class="form-group mb-0">

                            <div class="row radio-btn-group ">
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="VNDT" name="star" type="radio" id="VNDT" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="VNDT">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc VNDT d-inline-block lh-1" title="VNDT"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        VNDT
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="USDT" name="star" type="radio" id="USDT" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="USDT">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc USDT lh-1" title="USDT"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        USDT
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="TXC" name="star" type="radio" id="TXC" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="TXC">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc XENG d-inline-block lh-1" title="XENG"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        XENG
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="USDF" name="star" type="radio" id="USDF" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="USDF">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc USDF d-inline-block lh-1" title="USDF"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        USDF
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="BTC" name="star" type="radio" id="BTC" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="BTC">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc BTC d-inline-block lh-1" title="BTC"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        BTC
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="ETH" name="star" type="radio" id="ETH" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="ETH">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc ETH d-inline-block lh-1" title="ETH"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        ETH
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="TRX" name="star" type="radio" id="TRX" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="TRX">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc TRX d-inline-block lh-1" title="TRX"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        TRX
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="XLM" name="star" type="radio" id="XLM" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="XLM">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc XLM d-inline-block lh-1" title="XLM"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        XLM
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12">
                                    <div class="mb-3">
                                        <input value="XRP" name="star" type="radio" id="XRP" class="checkbox-tools">
                                        <label class="for-checkbox-tools pr-3 lh-1 buy-sell-list" for="XRP">
                                            <strong class="d-flex align-items-center pr-4 font-weight-500 fs-095">
                                                <span class="fs-220 lh-1 mr-2">
                                                    <i class="cc XRP d-inline-block lh-1" title="XRP"></i>
                                                </span>
                                                <span>
                                                    <span class="font-weight-bold d-block mb-1 fs-085">
                                                        XRP
                                                    </span>
                                                </span>
                                            </strong>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card-footer border-0">

                        <a href="/transaction/sell?step=2" class="btn btn-primary float-right disabled" id="next-step">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
    <script>
        $('input[type="radio"]').on('click', function (e) {
            var coin = e.target.id;
            $("#next-step").attr("href", "/transaction/sell?step=2&coin=" + coin);
            $("#next-step").removeClass("disabled");
            return;
        });
    </script>

</section>