<footer id="footer">

    <!-- Footer Main  -->
    <div class="footer_center">
        <div class="container">

            <div class="text-info text-center">
                <div class="widget-logo">
                    <div class="text">
                        <p class="mb-2">
                            <strong class="text-uppercase">
                                Đại lý Supper Admin - SA98
                            </strong>
                        </p>
                        <p class="mb-2">
                            Địa chỉ: Số 454 Minh Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Tp. Hà Nội.
                        </p>
                        <p class="mb-2">
                            Điện thoại: 024.3333.6688 | Email: dailysa89@gmail.vn | Website: https://www.dailysa89.vn
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Main -->
    <!-- Bottom -->
    <div class="footer_bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <span>Bản quyền © 2017 Đại lý SA89. Tất cả quyền được bảo vệ.</span>
                    <span class="pull-right">Designed By Biso.vn</span>
                </div>

            </div>

        </div>
    </div>
    <!-- Bottom -->

</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>