<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <a href="/" class="scrollto">
                <img src="/img/logo-big.png" alt="" />
            </a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu" style="touch-action: pan-y;">
                <li <% if (link === 'home') { %>class="menu-active" <% } %>>
                    <a href="/">Trang chủ</a>
                </li>
                <li <% if (link === 'details') { %>class="menu-active" <% } %>>
                    <a href="/details">Đại lý <%= agency.name %></a>
                </li>
                <li <% if (link === 'transaction') { %>class="menu-active" <% } %>>
                    <a href="/transaction">Giao dịch</a>
                </li>
                <li <% if (link === 'search') { %>class="menu-active" <% } %>>
                    <a href="/search">Tra cứu đơn hàng</a>
                </li>
                <li <% if (link === 'coins') { %>class="menu-active" <% } %>>
                    <a href="/coins">Đồng Coin</a>
                </li>
                <li <% if (link === 'wallet') { %>class="menu-active" <% } %>>
                    <a href="/wallet">ACWallet.io</a>
                </li>
                <li <% if (link === 'contact') { %>class="menu-active" <% } %>>
                    <a href="/contact">Liên hệ</a>
                </li>
            </ul>
        </nav>
        <nav id="mobile-nav">
            <ul class="" style="touch-action: pan-y;" id="">
                <li class="menu-active"><a href="/">Trang chủ</a></li>
                <li><a href="/details">Đại lý SA98</a></li>
                <li><a href="/transaction">Giao dịch</a></li>
                <li><a href="/search">Tra cứu đơn hàng</a></li>
                <li><a href="/coins">Đồng Coin</a></li>
                <li><a href="/wallet">ACWallet.io</a></li>
                <li><a href="/contact">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-body-overly"></div>
    </div>
</header>