<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url('img/pr.jpg');">
                    
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua USDT từ đại lý SA98</h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            2. Số lượng và địa chỉ ví
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="font-weight-500">Số lượng mua</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="100">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                USDT
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Giá mua</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="23,150" readonly="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                VND
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Phí</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="0" readonly="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                VND
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Địa chỉ ví của bạn</label>
                                    <input type="text" class="form-control" value="0xd94b5edc5c695cc0f95253aaae9a5346ac0a9cbd">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                             <i class="las la-arrow-right"></i>
                            Tiếp tục
                        </button>-->
                        <a href="/transaction/buy?step=1" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="/transaction/buy?step=3" class="btn btn-primary float-right">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>