<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('img/pr.jpg');">           
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white">Giới thiệu về các đồng Coin</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="coin-info" class="pt-5">

    <div class="container pb-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 col-lg-10">
                <ul class="nav nav-pills mb-3 justify-content-center font-weight-bold d-block d-md-flex" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0 " id="pills-home-tab" data-toggle="pill" href="#coin_vndt" role="tab" aria-controls="pills-home" aria-selected="true">Đồng coin VNDT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0" id="pills-profile-tab" data-toggle="pill" href="#coin_xeng" role="tab" aria-controls="pills-profile" aria-selected="false">Đồng coin XENG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0" id="pills-contact-tab" data-toggle="pill" href="#coin_usdf" role="tab" aria-controls="pills-contact" aria-selected="false">Đồng coin USDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0 active" id="pills-contact-tab" data-toggle="pill" href="#coin_usdt" role="tab" aria-controls="pills-contact" aria-selected="false">Đồng coin USDT</a>
                    </li>
                </ul>
                <div class="tab-content bg-white p-3" id="pills-tabContent">
                    <div class="tab-pane fade" id="coin_vndt" role="tabpanel" aria-labelledby="pills-home-tab">
                        Chưa có thông tin về đồng coin VNDT
                    </div>
                    <div class="tab-pane fade" id="coin_xeng" role="tabpanel" aria-labelledby="pills-profile-tab">
                        Chưa có thông tin về đồng coin XENG
                    </div>
                    <div class="tab-pane fade" id="coin_usdf" role="tabpanel" aria-labelledby="pills-contact-tab">
                        Chưa có thông tin về đồng coin USDF
                    </div>
                    <div class="tab-pane fade show active" id="coin_usdt" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="entry-content">
                            <p>Tether là tên của công ty Tether Limited, công ty này cũng sẽ tung ra các loại như Euro Tether hay</p>

                            <figure class="wp-block-image"><a href="https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01.png"><img src="https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01.png" alt="Tether là gì? USDT là gì? Mua bán USDT giá tốt nhất" class="wp-image-1041" srcset="https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01.png 1320w, https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01-150x84.png 150w, https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01-300x168.png 300w, https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01-768x431.png 768w, https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01-1024x575.png 1024w, https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01-810x455.png 810w, https://www.fiahub.com/blog/wp-content/uploads/2019/07/Tether-Cryptonewsz-01-1140x640.png 1140w" sizes="(max-width: 1320px) 100vw, 1320px"></a></figure>
                            <p>Japanese Yen Tether (YPYT), nhưng bài viết chỉ nhấn mạnh đến Tether USDT vì các bạn có thể thấy sức mạnh kinh tế áp đảo của Mỹ với đồng đô la.</p>
                            <hr class="wp-block-separator">
                            
                            <h2><span class="ez-toc-section" id="Tether_(USDT)_la_gi"></span>Tether (USDT) là gì?<span class="ez-toc-section-end"></span></h2>
                            <p>Tether (USDT) là một tiền điện tử với tài sản thế chấp chính là đồng đô la Mỹ, thay vì bạn sở hữu tiền mặt thì giờ đây bạn có thể sở hữu crytocurrency thay thế, khi bạn có 1 USDT thì sẽ có $1 tiền mặt được lưu trữ trên quỹ Tether Limmited.</p>
                            <p>Tether đang là ông lớn nhất trong làn stablecoin, lượng phát hành hiện tại tính đến ngày 11/7/2019 là $2,865,716,915 (~3 tỷ đô) lớn hơn gấp 16 lần so với Paxos ($181,359,292) một đồng stablecoin tham vọng chiếm ngôi.</p>
                            <p>Nói Tether là một đồng Coin thì cũng không hoàn toàn đúng, mà gọi là một Token thì cũng không hoàn toàn đúng bởi vì Coin (đồng tiền ảo) có thể hoạt động riêng lẻ còn USDT bản thân mục đích tạo ra để không phải để cạnh tranh với các đồng khác mà là thúc đẩy các đồng khác, đóng vai trò trung gian giữa tiền thật và tiền mã hóa. Còn gọi là Token tại sao chưa thuyết phục vì Tether (USDT) có thể lưu trữ giá trị và dùng để giao dịch, Token chưa chắc đã bền lâu nhưng USDT sẽ tồn tại lâu có thể nói là mãi mãi.</p>
                            <p>Ra mắt vào năm 2014, Tether dựa trên nền tảng của blockchain được thiết kế để tạo thuận lợi cho việc tăng sự chấp thuận việc sử dụng tiền kỹ thuật số.</p>
                            <p>USDT được phát triển dựa trên công nghệ blockchain của Bitcoin thông qua một lớp giao thức Omni, nó giống như một nền tảng giúp bạn chuyển đổi, lưu trữ, tạo ví, mua bán trao đổi USDT.</p>
                            <p>Tether mở ra cách tiếp cận hiện đại hơn về tiền bạc, đã đi đầu bằng cách cung cấp cho khách hàng khả năng giao dịch một loại tiền kỹ thuật số (USDT) không có sự biến động, đồng USDT của Tether luôn giữ tỷ lệ 1:1 với đồng đô la Mỹ (biến động thường chỉ ~0.01%).</p>
                            <h2><span class="ez-toc-section" id="Ai_tao_ra_Tether_(USDT)"></span>Ai tạo ra Tether (USDT)?<span class="ez-toc-section-end"></span></h2>
                            <p>USDT là tiền điện tử được phát hành bởi Công ty Tether Limited, được bảo hộ dưới pháp luật của quần đảo Virgin (England) và được thành lập tại Hong Kong.</p>
                            <p>CEO của Tether là JL VAN DER VELDE (cũng là CEO Bitfinex), <em>“Anh ấy là người lừa đảo tiền điện tử lớn nhất từ trước đến nay” – “He is the orchestrator of the biggest Cryptocurrency scam ever</em>” – Kidding, nói chung ông cũng là nhân vật có ảnh hưởng rất lớn trong vĩnh lực tiền điện tử này.</p>
                            <p>Bạn có thể tìm hiểu thêm về VAN DER VELDE qua Linkendin <a href="https://tw.linkedin.com/in/j-l-van-der-velde-26a24b6">https://tw.linkedin.com/in/j-l-van-der-velde-26a24b6</a>.</p>
                            <h2><span class="ez-toc-section" id="Tai_sao_Tether_ra_doi"></span>Tại sao Tether ra đời?<span class="ez-toc-section-end"></span></h2>
                            <p>USDT ra đời để khắc phục những khuyết điểm của cả tiền thật và tiền điện tử trong vấn đề thanh toán.</p>
                            <p>Sự kết hợp hoàn hảo của tiền thật và tiền mã hóa vì:</p>
                            <ul><li><em>Tiền thật thì không thể dễ dàng chuyển nhận mà không tra cứu thông tin người gửi và giao dịch, nó bắt mọi thứ phải công khai, nhất là khi muốn chuyển từ nước ngoài về nước, vấn đề lại càng phức tạp khi thêm rất nhiều chi phí phát sinh khác (phí gửi, phí chuyển đổi ngoại tệ, phí trênh lệch). </em></li><li><em>Tiền điện tử (cryptocurrency) thường không ổn định, giao động về giá là rất lớn, bạn thử quan sát Bitcoin ra mắt ngày 28/4/2013 với giá mở cửa là $135.3, tính đến nay vào năm 2019 giá BTC là trên $10,000 một biến động quá khủng khiếp gấp 74 lần, thử hỏi có ngân hàng nào cho bạn lãi suất hơn 120% trong một năm (lãi suất tối đa của một ngân hàng khoảng dưới 8%).</em></li></ul>
                            <p>USDT được niêm yết giá gần như luôn luôn 1 đô la (giao động khoảng 0.01%), lại dễ dàng chuyển tới bất cứ đâu với số lượng nào cực nhanh an toàn.</p>
                            <p>Mục đích chính tạo ra Tether là làm việc trao đổi các đồng tiền cả thật và tiền điện tử thuận lợi và dễ dàng hơn.</p>
                            <p>Có thể kết luận Tether ra đời để cho bạn có thể lưu trữ, gửi và nhận đô la, euro trực tiếp và ngay lập tức và an toàn bằng cách tận dụng công nghệ Blockchain.</p>
                            <h2><span class="ez-toc-section" id="Cach_Tether_hoat_dong"></span>Cách Tether hoạt động<a href="https://www.fiahub.com/blog/wp-content/uploads/2019/07/aa.png"></a><span class="ez-toc-section-end"></span></h2>
                            <p>Khi mua: Tether sẽ tạo ra số lượng tiền USDT (đơn vị của đồng Tether) tương đương với số tiền đô la bạn mua (tỷ lệ 1 USDT = 1 USD).</p>
                            <p>Khi bán: Tether sẽ hủy số tiền USDT trên hệ thống tương đương với số tiền USD bạn muốn bán để đảm bảo số tiền Tether đang lưu hành luôn luôn tương đương với số tiền thực tế hệ thống đang lưu trữ.</p>
                            <h2><span class="ez-toc-section" id="Tinh_nang_dac_biet_cua_Tether_(USDT)"></span>Tính năng đặc biệt của Tether (USDT)<span class="ez-toc-section-end"></span></h2>
                            <p>Ổn định. Vì Tether được hỗ trợ bởi các ngân hàng trong thế giới thực, nó làm cho người dùng có nhiều lợi ích từ giao dịch tiền điện tử, ở đó đồng tiền này không chịu sự biến động của tiền điện tử.</p>
                            <p>Minh bạch. Tether công khai số dư tài khoản của nó thường xuyên, để kiểm toán xác minh rằng các khoản dự trữ đó luôn luôn bằng với số USDT đang lưu hành. Bên cạnh đó, tất cả các giao dịch của Tether đều được ghi lại trên các blockchain công khai.</p>
                            <p>Phí giao dịch. Không có phí giao dịch khi gửi tiền giữa hai tài khoản Tether hoặc bất cứ hai ví có khả năng lưu trữ Tether (Tether sử dụng nền tảng blockchain của Bitcoin).</p>
                            <p>Mọi thông tin giao dịch của việc mua/ bán USDT đều công khai và minh bạch trên trang <a href="https://omniexplorer.info/">https://omniexplorer.info/</a>.</p>
                            <h2><span class="ez-toc-section" id="Tai_sao_phai_su_dung_Tether"></span>Tại sao phải sử dụng Tether?<span class="ez-toc-section-end"></span></h2>
                            <p>Đồng tiền nước bạn đang ngày càng mất giá do lạm phát, việc sở hữu một đồng điện tử luôn ổn định, chỉ ngày càng có giá trị cấp thiết hơn bao giờ hết, USDT sẽ giải quyết vấn đề này.</p>
                            <p>Đối với việc giao dịch tiền điện tử, nó giúp các giao dịch nhanh chóng hơn, dễ dàng hơn, giúp bạn giảm bớt thời gian lo lắng khi chờ đợi (dù biết kiên nhẫn là cần thiết, nhưng nếu nhanh hơn một chút lúc nào cũng tốt hơn).</p>
                            <p>Tránh bão. Cơn bão có thể đến bất cứ lúc nào, thay vì cứ phải rút ra rút vào tiền mặt, bạn có thể để nó lưu trữ giùm bạn, sóng gió qua thì trời lại xanh lúc đó nó lại càng hữu dụng.</p>
                            <h2><span class="ez-toc-section" id="Tether_%E2%80%93_hop_dong_thong_minh_(smartcontract)_cua_tuong_lai"></span>Tether – hợp đồng thông minh (smartcontract) của tương lai<span class="ez-toc-section-end"></span></h2>
                            <p>Hợp đồng thông minh (smartcontract) là loại hợp đồng với bộ giao thức đặc biệt tự động thực hiện các điều khoản, thỏa thuận giữa các bên trong hợp đồng nhờ sự hỗ trợ của công nghệ blockchain. Nó giúp cho 2 bên không xác định danh tính có thể giao dịch, làm việc với nhau mà không cần thông qua trung gian. Lịch sử giao dịch của nó được lưu trên hệ thống blockchain và không thể xóa hay chỉnh sửa được, dẫn đến nó an toàn và minh bạch hơn mà không cần một bên thứ 3.</p>
                            <h2><span class="ez-toc-section" id="Tong_von_hoa_thi_truong_Stablecoin_tinh_den_thang_7/2019"></span>Tổng vốn hóa thị trường Stablecoin tính đến tháng 7/2019<span class="ez-toc-section-end"></span></h2>
                            <p>Theo như phân tích của tạp chí phố Wall (The Wall Street Journal): “80% tất cả giao dịch bitcoin đều được Tether thực hiện và nó là stablecoin thanh khoản chính cho thị trường tiền điện tử”.</p>
                            <p><em>“80% of all bitcoin trading is done in Tether, and the stablecoin is a major source of liquidity for the cryptocurrency market”.</em></p>
                            <table class="wp-block-table">
                                <tbody>
                                    <tr>
                                        <td><strong>STABLECOIN</strong></td>
                                        <td>
                                            <strong>MARKET CAP</strong>
                                        </td>
                                    </tr>
                                    <tr><td>&nbsp;TETHER</td><td>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,853,202,592</td></tr>
                                    <tr><td>&nbsp;PAXOS-STANDARD-TOKEN</td><td>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 150,608,724</td></tr>
                                    <tr><td>&nbsp;TRUEUSD</td><td>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 212,097,068</td></tr>
                                    <tr><td>&nbsp;USD-COIN</td><td>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 376,911,460</td></tr>
                                    <tr><td>&nbsp;DAI</td><td>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 89,725,617</td></tr>
                                    <tr><td>&nbsp;GEMINI-DOLLAR</td><td>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10,229,277</td></tr>
                                </tbody>
                            </table>
                            
                            <p>Bạn có thể thấy vốn hóa đã đưa ra thị trường của Tether chiếm hơn 82% so với 5 đồng stablecoin lớn nhất còn lại là paxos-standard-token, trueusd, usd-coin, dai, gemini-dollar.</p>
                            <h2><span class="ez-toc-section" id="Noi_luu_tru_Tether"></span>Nơi lưu trữ Tether<span class="ez-toc-section-end"></span></h2>
                            <p>Bạn có thể tạo ví lưu trữ Tether trên trang web Omni <a href="https://wallet.tether.to/app/#!/login">https://wallet.tether.to/</a></p>
                            <p>Thêm nữa bạn cũng có thể nó ở ngay trên sàn để thuận tiện cho việc giao dịch, các sàn tiêu biểu cho việc lưu trữ như Binance (sàn giao dịch đang đứng số 1 thế giới trên trường quốc tế) Kucoin, Bitfinex, HolyTransaction, Expresscoin, Rchange, Bittrex, Houbi, Fiabhub.</p>
                            <p>Nếu bạn ở Việt Nam, thì nơi tốt nhất để bạn gửi niềm tin chính là một sàn bạn của Binance từng được CZ Binance (Changpeng Zhao) PR đó là sàn Fiahub với mức phí rút chỉ 5 USDT (một mức phí bằng với sàn Binance đủ thấy sức mạnh của sàn này).</p>
                            <p><em>(Mức phí rút các sàn Binance, Houbi, Bitrrex, Holy, Express, Fiahub đều là 5 USDT)</em></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>