<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white">Giới thiệu về các đồng Coin</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="coin-info" class="pt-5">

    <div class="container pb-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 col-lg-10">
                <ul class="nav nav-pills mb-3 justify-content-center font-weight-bold d-block d-md-flex"  id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0 active" id="pills-home-tab" data-toggle="pill" href="#coin_vndt" role="tab" aria-controls="pills-home" aria-selected="true">Đồng coin VNDT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0" id="pills-profile-tab" data-toggle="pill" href="#coin_xeng" role="tab" aria-controls="pills-profile" aria-selected="false">Đồng coin XENG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0" id="pills-contact-tab" data-toggle="pill" href="#coin_usdf" role="tab" aria-controls="pills-contact" aria-selected="false">Đồng coin USDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1 ml-1 mb-2 mb-md-0 " id="pills-contact-tab" data-toggle="pill" href="#coin_usdt" role="tab" aria-controls="pills-contact" aria-selected="false">Đồng coin USDT</a>
                    </li>
                </ul>
                <div class="tab-content bg-white p-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="coin_vndt" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="entry-content">
                            <img src="./img/coins-img-vndt.jpg" class="mb-4">
                            <h2>Thông số kỹ thuật</h2>                     
                            <p> Tên gọi: <strong> VNDT</strong></p>
                            <p> Mã giao dịch:<strong> VNDT</strong></p>
                            <p> Giá trị: <strong>1 VNDT = 1 VNĐ</strong></p>
                            <p> Blockchain: <strong>TRON</strong></p>
                            <p>Vốn hóa thị trường: <strong>10.000.000 USD</strong></p>             
                            <hr class="wp-block-separator">
                            <h2>Thông tin tổng quan</h2>
                            <p>VNDT tương tự USDT được ra mắt hướng tới việc thay thế tiền mặt VNĐ trong các giao dịch điện tử với nhiều thế mạnh nhờ việc được xây dựng và phát hành trên hệ thống blockchain uy tín TRON.</p>                 
                            <p>Điểm mạnh của VNDT là độ bảo mật, khả năng thanh khoản và được ứng dụng đa dạng trong hệ sinh thái ACWallet, dễ dàng giao dịch, quy đổi với nhiều loại tiền mã hóa khác.</p>
                            <h2>Hệ sinh thái và ứng dụng</h2>
                            <p>Hiện nay, bạn có thể dễ dàng giao dịch VNDT trên các sàn như TiktakBTC.io, ACWallet ... trong nhiều vai trò khác nhau. Lợi thế của VNDT so với các stablecoin khác là được hỗ trợ giao dịch & nạp rút bởi các đối tác của ACWallet một cách nhanh chóng nhất, đảm bảo tính thanh khoản của đồng tiền.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coin_xeng" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="entry-content">
                            <img src="./img/coins-img-xeng.jpg" class="mb-4">
                            <h2>Thông số kỹ thuật</h2>                     
                            <p> Tên gọi: <strong> Xèng</strong></p>
                            <p> Mã giao dịch:<strong> XENG</strong></p>
                            <p> Giá trị: <strong>1 XENG = 1000 VNDT</strong></p>
                            <p> Blockchain: <strong>TRON</strong></p>
                            <p>Vốn hóa thị trường: <strong> 5.000.000 USD</strong></p>             
                            <hr class="wp-block-separator">
                            <h2>Thông tin tổng quan</h2>
                            <p>Xèng (XENG) là stablecoin có giá trị cố định (1.000 VND) được sử dụng làm đơn vị giao dịch trong các trò chơi trực tuyến. XENG được phát hành bởi AC GAME trên nền tảng blockchain Ethereum với điều kiện kỹ thuật tương tự các stablecoin như USDT, USDF, ... XENG được đánh giá cao bởi tính thanh khoản và giá trị ổn định xuyên suốt, không bị ảnh hưởng bởi thị trường. </p>                 
                            <h2>Hệ sinh thái và ứng dụng</h2>
                            <p>XENG là tiền mã hóa có tính ứng dụng tập trung trong hệ sinh thái ACWallet. Dù chưa được chấp nhận thanh toán bởi nhiều đơn vị, tuy nhiên với hệ thống đại lý rộng khắp, việc nạp rút và mua bán XENG luôn được xử lý trong giây lát, đảm bảo tính thanh khoản của loại tiền tệ này. </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coin_usdf" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="entry-content">
                            <img src="./img/coins-img-usdf.jpg" class="mb-4">
                            <h2>Thông số kỹ thuật</h2>                     
                            <p> Tên gọi: <strong> USD Forex</strong></p>
                            <p> Mã giao dịch:<strong> USDF</strong></p>
                            <p> Giá trị: <strong>1 USDF = 1 USD</strong></p>
                            <p> Blockchain: <strong>TRON</strong></p>
                            <p>Vốn hóa thị trường: <strong> 20.000.000 USD</strong></p>             
                            <hr class="wp-block-separator">
                            <h2>Thông tin tổng quan</h2>
                            <p>USD Forex là tiền mã hóa có giá trị tương đương USD, cách thức phát hành và giao dịch giống với USDT nhưng được sử dụng rộng rãi trong lĩnh vực Giao dịch ngoại hối (Forex - Foreign Exchange).</p>
                            <p>Với giá trị không đổi, USDF là đơn vị tiền tệ phù hợp dùng để đầu tư sinh lời qua các Giao dịch ngoại hối Forex.</p>
                            <h2>Hệ sinh thái và ứng dụng</h2>
                            <p>USDF hiện được hỗ trợ bởi một số sàn Forex tại Việt Nam, nổi bật có thể kể tới NineDragonsFX.</p>
                            <p>Trong tương lai không xa, USDF sẽ được chấp thuận thanh toán trên nhiều sàn giao dịch lớn khác, nhờ những ưu điểm mà nó mang lại cho nhà đầu tư ngoại hối.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coin_usdt" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="entry-content">
                            <img src="./img/coins-img-usdt.jpg" class="mb-4">
                            <h2>Thông số kỹ thuật</h2>                     
                            <p> Tên gọi: <strong> Tether</strong></p>
                            <p> Mã giao dịch:<strong> USDT</strong></p>
                            <p> Giá trị: <strong>1 USDT ~ 1 USD</strong></p>
                            <p> Blockchain: <strong>Ethereum</strong></p>
                            <p>Vốn hóa thị trường: <strong> ~ 24.200.000.000 USD</strong></p>             
                            <hr class="wp-block-separator">
                            <h2>Thông tin tổng quan</h2>
                            <p>Tether ( USDT) là tiền điện tử được thế chấp bằng chính USD, với nhiệm vụ thay thế tiền mặt trong các giao dịch blockchain. Tether được phát hành bởi Công ty Tether Limited trên 3 blockchain phổ biến là Bitcoin, Ethereum và TRON. Tuy nhiên USDT Ethereum (ERC20) được sử dụng phổ biến hơn cả, với hệ sinh thái rộng khắp và hỗ trợ sâu trong các giao dịch tiền mã hóa.</p>
                            <h2>Hệ sinh thái và ứng dụng</h2>
                            <p>Hiện nay, bạn có thể sử dụng USDT ERC20 vào hầu hết các giao dịch tài sản mã hóa nhờ việc đồng tiền này được chấp thuận bởi nhiều sàn giao dịch tập trung & phi tập trung. Các ứng dụng nổi bật của USDT có thể kể tới:</p>
                            <p>- Đồng tiền trung gian phổ biến nhất để giao dịch các loại tiền mã hóa (Bitcoin, Ethereum, LTC, XRP...)</p>
                            <p>- Mua hàng hóa, dịch vụ thông qua đơn vị hỗ trợ thanh toán.</p>
                            <p>- Lưu trữ, nhờ vào tính ổn định của stablecoin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>