<section id="intro" class="intro-short">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('img/pr.jpg');">                 
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-avatar mb-2">
                                        <img src="img/av.jpg" class="rounded-circle border-white border-2" width="160">
                                    </div>
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white">ilovoyou (SA98)</h3>
                                        <p class="mb-3" style="line-height:1">
                                            <span class="ml-1 fs-080 font-weight-normal mt-1">
                                                Cấp đại lý: <span class="font-weight-bold">Supper Admin</span>
                                            </span>
                                        </p>
                                        <p class="mb-3">
                                            <span class="badge badge-pill badge-info rounded d-inline-block text-uppercase fs-070 font-weight-normal">
                                                <i class="las la-check-circle"></i>
                                                Đã xác minh
                                            </span>
                                            <!--<span class="badge badge-pill badge-secondary rounded d-inline-block ">
                                                <i class="las la-ban"></i>
                                                Chưa xác minh
                                            </span>-->
                                            </p><div class="mb-2">
                                                <span>Đã ký quỹ:</span><span class="font-weight-bold text-warning">
                                                    345,078,000 VNDT
                                                </span>
                                            </div>
                                            <a href="/details" class="text-info fs-080">
                                                Xem hồ sơ
                                                <i class="la la-arrow-right"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="buy-sell" class="pt-5">
    <div class="container pb-5">
        <header class="section-header">
            <h3>Mua bán Coin với SA98</h3>
        </header>
        <div class="row">
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc VNDT" title="VNDT"></i>
                                        </span>
                                        <span>
                                            <strong>VNDT</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                VNDT/VND
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-danger d-flex align-items-center">
                                            <i class="las la-caret-down mr-1"></i>
                                            <span>0.1%</span>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary">1.08293993</span>
                                    </div>
                                    <div>
                                        <a href="/buy?step=2" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i>
                                            Mua
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning">1.09293996</span>
                                    </div>
                                    <div>
                                        <a href="/sell?step=2" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i>
                                            Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc USDF" title="USDF"></i>
                                        </span>
                                        <span>
                                            <strong>USDF</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                USDF/VND
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-success d-flex align-items-center">
                                            <i class="las la-caret-up mr-1"></i>
                                            <span>1.104%</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
    
                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary">22,890,000</span>
                                    </div>
                                    <div>
                                        <a href="/buy?step=2" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i>
                                            Mua
                                        </a>
                                    </div>
                                </div>
    
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning">23,190,000</span>
                                    </div>
                                    <div>
                                        <a href="/sell?step=2" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i>
                                            Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc XENG" title="XENG"></i>
                                        </span>
                                        <span>
                                            <strong>Xeng</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                XENG/VND
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-success d-flex align-items-center">
                                            <i class="las la-caret-up mr-1"></i>
                                            <span>0.134%</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
    
                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary">1,000.01</span>
                                    </div>
                                    <div>
                                        <a href="/buy?step=2" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i>
                                            Mua
                                        </a>
                                    </div>
                                </div>
    
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning">1,000.56</span>
                                    </div>
                                    <div>
                                        <a href="/sell?step=2" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i>
                                            Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc USDT" title="USDT"></i>
                                        </span>
                                        <span>
                                            <strong>Tether USD</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                USDT/VNDT
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-danger d-flex align-items-center">
                                            <i class="las la-caret-down mr-1"></i>
                                            <span>0.134%</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
    
                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary">23,662</span>
                                    </div>
                                    <div>
                                        <a href="/buy?step=2" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i>
                                            Mua
                                        </a>
                                    </div>
                                </div>
    
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning">22,662</span>
                                    </div>
                                    <div>
                                        <a href="/sell?step=2" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i>
                                            Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center mt-3">
            <a href="/transaction" class="btn btn-lg btn-secondary">
                Tất cả coin
                <i class="la la-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

<section id="step" class="bg-white">
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                <header class="section-header text-left">
                    <h3 class="text-left">Quy trình mua</h3>
                </header>
                <div class="row">
                    <div class="col-12">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <span class="sn-num">1</span>
                                <div class="ml-3">
                                    <p class="description">
                                        Đầu tiên bạn chọn coin, số lượng cần mua và địa chỉ ví nhận coin của bạn
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <span class="sn-num">2</span>
                                <div class="ml-3">
                                    <p class="description">
                                        Tiếp theo bạn thanh toán chuyển khoản ngân hàng với nội dung được chỉ định
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <span class="sn-num">3</span>
                                <div class="ml-3">
                                    <p class="description">
                                        Cuối cùng bạn nhận coin và có thể dùng vào bất kỳ việc gì bạn muốn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6">

                <header class="section-header text-left">
                    <h3 class="text-left">Quy trình bán</h3>
                </header>
                <div class="row">
                    <div class="col-12">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <span class="sn-num bg-warning">1</span>
                                <div class="ml-3">
                                    <p class="description">
                                        Đầu tiên bạn chọn coin, số lượng cần bán và tài khoản ngân hàng của bạn
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <span class="sn-num bg-warning">2</span>
                                <div class="ml-3">
                                    <p class="description">
                                        Tiếp theo bạn gửi coin của bạn lên địa chỉ ví hệ thống đã chỉ định
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <span class="sn-num bg-warning">3</span>
                                <div class="ml-3">
                                    <p class="description">
                                        Cuối cùng bạn nhận tiền mặt về tài khoản ngân hàng của bạn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>