<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white mb-4">Tra cứu đơn hàng</h3>
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-xl-6 col-lg-7 col-md-8 col-sm-12">
                                                <div class="input-group input-group-lg">
                                                    <input name="ctr_banner_home$TxtKeyword" type="text" id="ctr_banner_home_TxtKeyword" class="form-control key-word" placeholder="Mã giao dịch...">
                                                    <div class="input-group-append">
                                                        <a id="ctr_banner_home_LbtSearch" class="btn btn-secondary btn-block" href="#">
                                                            <i class="icon-magnifier f-16"></i>
                                                            <span>Tra cứu</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="coin-info" class="pt-5">

    <div class="container pb-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-7 ">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Đơn hàng: DH087485229</h5>
                    </div>
                    <div class="card-body">
                        <div class="view-box fs-090">
                            <p class="mb-2">
                                <span>Mã giao dịch </span>
                                <span class="float-right font-weight-bold ">
                                    TTB23F01A
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Số lượng </span>
                                <span class="float-right font-weight-bold text-danger">
                                    150.084 XENG
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Tỉ giá </span>
                                <span class="float-right">
                                    23,374 VNDT
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Tổng cộng </span>
                                <span class="float-right font-weight-bold">
                                    3,485,939 VNDT
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Trạng thái </span>
                                <span class="float-right">
                                    <span class="badge badge-pill badge-success wf-85">Hoàn thành</span>
                                </span>
                            </p>
                            <hr>
                            <p class="mb-2">
                                <span>Giao dịch </span>
                                <span class="float-right font-weight-bold">
                                    Mua XENG
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Người bán </span>
                                <span class="float-right font-weight-bold">
                                    Tuanhung
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Địa chỉ ví nhận </span>
                                <span class="float-right d-inline-block text-right font-weight-bold" style="word-wrap: break-word;max-width:calc(100% - 80px);">
                                    TPwSyT9NY6Tx7iLNXAghJhGZawC4d7F7nq
                                </span>
                            </p>
                            <div class="clearfix"></div>
                            <hr>
                            <p class="mb-2">
                                <span>TxID </span>
                                <span class="float-right d-inline-block text-right font-weight-bold" style="word-wrap: break-word;max-width:calc(100% - 80px);">
                                    0xfb977d3f57cbfedc14cfb02245fec5807d06ad3b74933222e7a559040ff47015
                                </span>
                            </p>
                            <div class="clearfix"></div>
                            <hr>
                            <p class="mb-2">
                                <span>Chuyển tiền vào ngân hàng</span>
                                <span class="float-right font-weight-bold">
                                    Techcombank
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Số tài khoản</span>
                                <span class="float-right font-weight-bold">
                                    19036456090015
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Tên chủ tài khoản</span>
                                <span class="float-right font-weight-bold">
                                    Do Viet Anh
                                </span>
                            </p>
                            <p class="mb-2">
                                <span>Nội dung chuyển khoản</span>
                                <span class="float-right font-weight-bold">
                                    TTB1R6WA
                                </span>
                            </p>

                            <p class="mb-2">
                                <span>Ngày tháng </span>
                                <span class="float-right font-weight-bold">
                                    2020-11-29 30:20:03
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>