<section id="intro" class="intro-short">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('img/pr.jpg');">                 
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-avatar mb-2">
                                        <img src="img/av.jpg" class="rounded-circle border-white border-2" width="160">
                                    </div>
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white">ilovoyou (SA98)</h3>
                                        <p class="mb-3" style="line-height:1">
                                            <span class="ml-1 fs-080 font-weight-normal mt-1">
                                                Cấp đại lý: <span class="font-weight-bold">Supper Admin</span>
                                            </span>
                                        </p>
                                        <p class="fs-090 mb-3">
                                            <span class=" font-weight-normal d-block">
                                                <i class="las la-map-marker"></i>
                                                Địa chỉ: Số 454 Minh Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Tp. Hà Nội.
                                            </span>
                                            <span class=" font-weight-normal d-block">
                                                <span class="mr-2 ml-2">
                                                    <i class="las la-phone-alt"></i>
                                                    098.484.5848
                                                </span>
                                                <span class="mr-2 ml-2">
                                                    <i class="las la-envelope"></i>
                                                    Biso.vn@gmail.com
                                                </span>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="d-block">
                                                <span class="col-12 col-lg-8 col-md-8 text-left">
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2">
                                                        <img src="img/fb.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2">
                                                        <img src="img/zl.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2">
                                                        <img src="img/tl.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2">
                                                        <img src="img/vb.png" width="32">
                                                    </a>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="buy-sell" class="pt-5">
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 col-lg-8 col-md-12">
                <div class="prifile-box">
                    <div class="card shadow-sm mb-4 border-0">
                        <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                            <h5 class="m-0 font-weight-bold text-primary">
                                Ký quỹ
                            </h5>
                        </div>
                        <div class="card-body border-0">
                            <div class="user-profile text-center">
                                <div class="user-info">

                                    <div class="row mb-3">
                                        <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                            <span>Số tiền ký quỹ</span>
                                        </div>
                                        <div class="col-12 col-lg-8 col-md-8 text-left">
                                            <span class="font-weight-bold text-danger">
                                                345,078,000 VNDT
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                            <span>Địa chỉ ví ký quỹ (VNDT)</span>
                                        </div>
                                        <div class="col-12 col-lg-8 col-md-8 text-left">
                                            <span class="font-weight-bold">
                                                PwSyT9NY6Tx7iLNXAghJhGZawC4d7F7nq
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                            <span>Trạng thái ký quỹ</span>
                                        </div>
                                        <div class="col-12 col-lg-8 col-md-8 text-left">
                                            <span class="font-weight-bold">
                                                <span class="badge badge-pill badge-success">
                                                    <i class="las la-check"></i>
                                                    Đã nạp tiền ký quỹ
                                                </span>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card shadow-sm border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            <i class="las la-wallet"></i>
                            Địa chỉ ví
                        </h5>
                    </div>
                    <div class="card-body border-0 pt-3 pb-3 pr-4 pl-4 ml-1 mr-1">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Địa chỉ ví VNDT</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="TPwSyT9NY6Tx7iLNXAghJhGZawC4d7F7nq" readonly="">
                                        <div class="input-group-append">
                                            <button class="btn btn-light border" id="basic-addon2">
                                                <i class="las la-copy mr-1"></i>
                                                Sao chép
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Địa chỉ ví USDF</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="TPwSyT9NY6Tx7iLNXAghJhGZawC4d7F7nq" readonly="">
                                        <div class="input-group-append">
                                            <button class="btn btn-light border" id="basic-addon2">
                                                <i class="las la-copy mr-1"></i>
                                                Sao chép
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Địa chỉ ví XENG</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="TPwSyT9NY6Tx7iLNXAghJhGZawC4d7F7nq" readonly="">
                                        <div class="input-group-append">
                                            <button class="btn btn-light border" id="basic-addon2">
                                                <i class="las la-copy mr-1"></i>
                                                Sao chép
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Địa chỉ ví USDT</label>
                                    <div class="input-group mb-0">
                                        <input type="text" class="form-control" value="0xd94b5edc5c695cc0f95253aaae9a5346ac0a9cbd" readonly="">
                                        <div class="input-group-append">
                                            <button class="btn btn-light border" id="basic-addon2">
                                                <i class="las la-copy mr-1"></i>
                                                Sao chép
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>