<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <meta id="PagKeywords" name="keywords" content="" />
    <meta id="PagDescription" name="description" content="" />
    <link id="LnkIcon" href="/" type="image/x-icon" rel="shortcut icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Facebook Tag -->
    <meta id="og_app_id" property="fb:app_id" content="-nhap-id-facebook-" />
    <meta id="og_site_name" property="og:site_name" content="" />
    <meta id="og_description" property="og:description" content="" />
    <meta property="og:rich_attachment" content="true" />
    <meta id="og_type" property="og:type" content="website" />
    <meta id="og_image" property="og:image" content="/" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta id="og_url" property="og:url" content="https://acpay.vn" />
    <meta id="og_title" property="og:title" content="" />
    <meta id="og_publisher" property="article:publisher" content="acpay.vn" />

    <!-- Twitter Tag -->
    <meta id="tw_card" name="twitter:card" content="summary" />
    <meta id="tw_url" name="twitter:url" content="https://acpay.vn" />
    <meta id="tw_title" name="twitter:title" content="" />
    <meta id="tw_description" name="twitter:description" content="" />
    <meta id="tw_image" name="twitter:image" content="/" />
    <meta name="twitter:site" content="@acpay" />
    <meta name="twitter:creator" content="@acpay" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;531;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/datepicker/datedropper.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">
    <link href="/lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="/lib/lineawesome/line-awesome.min.css" rel="stylesheet">
    <link href="/lib/cryptocoins/cryptocoins.css" rel="stylesheet" />
    <link href="/lib/cryptocoins/cryptocoins-colors.css" rel="stylesheet" />
    <link href="/lib/toastr/toastr.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="/lib/icheck/icheck-bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>

                </div>
            </div>
        </div>
        <%- include('../partials/header.ejs') %>
            <main id="main">
                <%- body %>
            </main>
            <%- include('../partials/footer.ejs') %>
    </div>

    <!-- JavaScript Libraries -->

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/superfish/superfish.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="/lib/input-spinner/bootstrap-input-spinner.js"></script>
    <script src="/lib/datepicker/datedropper.js"></script>
    <script src="/lib/slick/slick.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/lib/toastr/toastr.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ff5c9cda9a34e36b969af5e/1erc1ojcg';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <script>
        $("#loading").delay(300).fadeOut(500);
    </script>
</body>

</html>