<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua USDT từ đại lý SA98</h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            3. Chọn ngân hàng của đại lý
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12 bank-box">
                                <div class="form-group">
                                    <label for="" class="font-weight-500 d-block">
                                        Chọn ngân hàng
                                    </label>
                                    <div class="dropdown bootstrap-select form-control none">
                                        <select class="form-control selectpickernone" tabindex="-98" id="select_bank">
                                            <% listBank.forEach((value, index) => { %>
                                                <option value="<%= value.code %>" <%= index == 0 ? "selected" : '' %>><%= value.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="bank-box mb-3">
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Tên ngân hàng:</span>
                                        <span class="font-weight-bold" id="bank_name">Ngân hàng TMCP Bản Việt (VIETCAPITAL)</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Số tài khoản:</span>
                                        <span class="font-weight-bold" id="address_bank">19036456090015</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Tên chủ tài khoản:</span>
                                        <span class="font-weight-bold" id="address_name">Do Viet Anh</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Nội dung chuyển khoản:</span>
                                        <span class="font-weight-bold">TTB1R6WA</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                                <i class="las la-arrow-right"></i>
                            Tiếp tục
                        </button>-->
                        <a href="/transaction" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="/transaction/buy?step=3" class="btn btn-primary float-right"  data-toggle="modal" data-target="#MdlBuy">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>
                        <!-- Popup Buy -->
                        <div class="modal fade" id="MdlBuy" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận mua USDT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <div class="col-12 mb-2">
                                                <span class="font-weight-500">Số lượng mua:</span>
                                                <span class="font-weight-bold text-primary">100 USDT</span>
                                            </div>
                                            <div class="col-12 fs-075 text-secondary mb-4">
                                                <span class="ml-1 mr-1">
                                                    Tỉ giá: <span class="font-weight-bold text-danger">23,150 VNDT</span>
                                                </span>
                                                <!--<span class="ml-1 mr-1">
                                                    Phí: <span class="font-weight-bold text-warning">240,384 VNDT</span>
                                                </span>-->
                                            </div>
                                            <div class="text-center fs-110 font-weight-bold mb-4">
                                                Số tiền bạn trả: <span class="font-weight-bolder text-success">2,315,000 VNDT</span>
                                            </div>
                                            <div class="mb-4">
                                                Địa chỉ ví nhận: <span class="font-weight-bold">TPwSyT9NY6Tx7iLNXAghJhGZawC4d7F7nq</span>
                                            </div>
                                            <div class="text-danger fs-085">
                                                Chú ý: Cần kiểm tra kỹ địa chỉ ví. Đại lý sẽ không chịu trách nhiệm trường hợp bạn gửi nhầm coin hay địa chỉ ví.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="las la-times-circle"></i>
                                            Bỏ qua
                                        </button>
                                        <!--<button type="button" class="btn btn-primary">
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </button>-->
                                        <a href="/transaction/buy?step=4" type="button" class="btn btn-primary">
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var retrievedObject = JSON.parse(localStorage.getItem('user'));
        
    var e = document.getElementById("select_bank");
    e.addEventListener('change', function() {
        var BankSaved = {
            number: document.getElementById('address_bank').innerText,
            name: document.getElementById('address_name').innerText,
            bank: this.options[this.selectedIndex].text,
            bankCode: this.value,
        }
        var data = {
            receiveBank: BankSaved,
            receiveAddress: retrievedObject.receiveAddress,
            quantity: parseFloat(retrievedObject.quantity),
            orderType: retrievedObject.orderType,
            currencyCode: retrievedObject.currencyCode,
            agentId: retrievedObject.agentId,
        }
        document.getElementById('bank_name').innerHTML = this.options[this.selectedIndex].text;
        console.log(data);
    });
</script>